/* general */
:root {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;

	--slot-size: 60px;
}

@font-face {
	font-family: minecraft;
	src: url(MinecraftRegular-Bmg3.otf);
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

body.dimmed {
	background-color: #000000ba;
}

/* container */
.wrapper {
	width: min-content;
	position: relative;
}

.container {
	position: relative;
	display: inline-grid;
	grid-template-columns: repeat(var(--cols), var(--slot-size));
	gap: 5px;
	margin: 5px;
}

/* slot color */

.main .slot {
	background-color: cornflowerblue;
}
.hotbar .slot {
	background-color: tomato;
}
.armor .slot {
	background-color: steelblue;
}
.craft-in .slot,
.craft-out .slot {
	background-color: darkcyan;
}

/* container & slot layout */

.craft-in {
	top: calc(var(--slot-size) + 5px);
	left: calc(var(--slot-size) * 4 + 15px);
}

.craft-out {
	top: calc(var(--slot-size) * 1.5 + 7.5px);
	left: calc(var(--slot-size) * 5 + 15px);
}

.slot {
	height: var(--slot-size);
	width: var(--slot-size);
	border-radius: 5px;
	image-rendering: pixelated;
}

.wrapper {
	visibility: hidden;
	background-color: powderblue;
	border-radius: 5px;
	padding: 5px;
}

.wrapper.open {
	visibility: visible;
}

/* slot index */
.slot::before {
	content: attr(data-content);
	position: absolute;
	margin: 3px;
}

/* hotbar */
.wrapper.open .hotbar {
	top: 0px;
}

.wrapper.open .hotbar .slot {
	background-color: lightsteelblue;
}

.hotbar {
	visibility: visible;
	top: 100px;
}

.slot.selected {
	outline: 2px solid black;
}

/* armor */
.armor .slot {
	background-size: 80%;
	image-rendering: pixelated;
	background-position: center;
	background-repeat: no-repeat;
}
.armor .slot:empty:nth-child(1) {
	background-image: url(images/gui/empty_armor_slot_helmet.png);
}
.armor .slot:empty:nth-child(2) {
	background-image: url(images/gui/empty_armor_slot_chestplate.png);
}
.armor .slot:empty:nth-child(3) {
	background-image: url(images/gui/empty_armor_slot_leggings.png);
}
.armor .slot:empty:nth-child(4) {
	background-image: url(images/gui/empty_armor_slot_boots.png);
}

/* items */
.slot img {
	width: 80%;
	margin: 10%;
}

/* additional gui elements */
#crafting-label {
	font-family: minecraft;
	z-index: 999;
	position: absolute;
	text-align: center;
	width: calc(var(--slot-size) * 2 + 5px);
	left: calc(var(--slot-size) * 5 + 35px);
	top: calc(var(--slot-size) * 0.6);
	font-size: 25px;
}

#crafting-arrow {
	position: absolute;
	z-index: 999;
	left: calc(var(--slot-size) * 7 + 50px);
	top: calc(var(--slot-size) * 1.9 + 4px);
}
