:root {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;

	--slot-size: 60px;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: min-content;
}

.container {
	position: relative;
	display: inline-grid;
	grid-template-columns: repeat(var(--cols), var(--slot-size));
	gap: 5px;
	margin: 5px;
}

.main .slot {
	background-color: cornflowerblue;
}
.hotbar .slot {
	background-color: tomato;
}
.armor .slot {
	background-color: steelblue;
}
.craft-in .slot,
.craft-out .slot {
	background-color: darkcyan;
}

.craft-in {
	top: calc(var(--slot-size) + 5px);
	left: calc(var(--slot-size) * 4 + 15px);
}

.craft-out {
	top: calc(var(--slot-size) * 1.5 + 10px);
	left: calc(var(--slot-size) * 5 + 15px);
}

.slot {
	background-color: tomato;
	height: var(--slot-size);
	width: var(--slot-size);
	border-radius: 5px;
	image-rendering: pixelated;
}

.hidden {
	opacity: 0;
}

.container {
	transition: all 0.5s;
}

.hotbar {
	transition: transform 0.5s ease-in-out;
}

.hotbar .slot::after {
	content: attr(data-content);
	position: absolute;
	margin: 3px;
}

.hotbar.hidden {
	opacity: 1;
	transform: translate(0, 100px);
}

.slot.selected {
	outline: 2px solid black;
}

.armor .slot {
	image-rendering: pixelated;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}
.armor .slot:empty:nth-child(1) {
	background-image: url(images/empty_armor_slot_helmet.png);
}
.armor .slot:empty:nth-child(2) {
	background-image: url(images/empty_armor_slot_chestplate.png);
}
.armor .slot:empty:nth-child(3) {
	background-image: url(images/empty_armor_slot_leggings.png);
}
.armor .slot:empty:nth-child(4) {
	background-image: url(images/empty_armor_slot_boots.png);
}
